*, *::after, *::before {
    margin: 0;
}

.album_container{
    /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
    /* z-index: 1; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100vw;
}
.album_content{
    width: 30%;
    z-index: 1;
    flex: 1;
    background-color: rgba(34, 34, 34, 0);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.album_image{
    width: 300px;
    height: 300px;
    margin-bottom: 40px;
    border-radius: 50%;
}

.image-card {
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    height: 100%;
    animation: fadeLeftImage 4s both;
}

@keyframes fadeLeftImage {
    from{
transform: rotate(25deg);
transform-origin: 0% 0%;
    }
    to{
transform: translateX(0);
transform: translateY(0);
    }
}

.iframe_container {
    width: 60%;
    flex: 1;
}

.songs {
    display: flex;
    flex-direction: column;
    list-style: none;
    position: relative;
    color: darkblue;
    margin: 5px;

}

.songs > li{
    padding: 1.2rem 1rem;
    margin: 1rem 0rem;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid black;
    border-radius: 10px;
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}

.reviews{
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.review{
    width: 60%;
    margin: 1rem;
    padding: 1rem;
    /* background-color: #fed000; */
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);

    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px
}
.add-review{
    padding: 1rem;

    
}
.add-review .form-review{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.add-review .form-review textarea{
    margin-bottom: .8rem;
    padding: 10px;
    width: 60%;

}
.submit-btn{
padding: .5rem;
border-radius: 10px;
background-color: white;
color: black;
border: none;

}
.submit-btn:hover{
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
    /* color: black; */
    padding: .7rem;
    transition: 1s ease-in-out all;
}