*, *::after, *::before {
    margin: 0;
}

.album_container{
    background-color: white;
    /* z-index: 1; */
    backdrop-filter: blur(10px);
    border-left: 1px solid rgba(34, 34, 34, 0.4);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100vw;
}
.album_content{
    width: 30%;
    z-index: 1;
    background-color: rgba(34, 34, 34, 0);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image{
    /* align-items: flex-end; */
}

.iframe_container {
    width: 60%;
}

.songs {
    display: flex;
    flex-direction: column;
    list-style: none;
    position: relative;
}